html{
    font-size: 10px;
}

body{
    position: relative;
    font-family: 'lato','sans-serif';
    background-color: #ECF0F1;
    margin: 0;
}

/*header les deux bar et le logo*/
header{
    height: 100vh;
    max-width: 100%;
}
/*logo*/
#logo{
    position: fixed;
    z-index: 40;
    width:100%;
    height: 6rem;
    background-color: black;
}
#logo img{
    /*position: fixed;*/
    width: 30%;
    height: 100%;
    padding-left: 30rem;
}
#logo a i{
    text-decoration: none;
    font-size: 3rem ;
    padding: 1rem 3rem;
    color: white;
}
/* navigation */
#navigation{
    position: fixed;
    top:6rem;
    z-index: 40;
    width:100%;
    background-color: darkgray;
    text-align: center;
    line-height: 8rem;
    height: 6rem;
    box-shadow: 0 0 0.5px 0 black;
}

#navigation a {
    text-decoration: none;
    font-size: 3rem ;
    /*padding: 1rem 2.5rem 0rem 0rem;*/
    line-height: 5rem;
    font-family: 'kaushan script';
    color: black;
}
.left{
    float: left;
    padding: 0.5rem 0rem 0rem 4rem;
}
.right{
    float: right;
    padding: 0.5rem 4rem 0rem 0rem;

}
#navigation a:active{
    font-size: 4rem;
}
#icon{
    display: none;
}
header #arrow{
    height: 10rem;
    width: 10rem;
    position: absolute;
    top:-3%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url("../img/ah_logo.png");
    background-position: top;
    background-size: cover;

}

.centreH{
    position: absolute;
    top: 15%;
    left: 40%;
    text-align: center;
    margin-bottom: 1.5rem;
}
.listeJoueursTitre {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    /*display: inline-block;*/
    background-image: linear-gradient(to right,darkred,black,darkgreen);
    -webkit-background-clip:text ;
    color: transparent;
    padding-top: 3rem;
    text-align: center;
    text-align: center;
}
.form-panel{
    position: relative;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.label-style{
    font-size: 2rem;
    font-weight: bold;
}
.inputClasse{
    font-size: 2rem;
}
.button-chercher{
    background-image: linear-gradient(to right,darkred,black,darkgreen);
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
}

.table th{
    font-size: 1.5rem;
}
.table td{
    font-size: 1.5rem;
}

.table{
    position: relative;
    box-shadow:0px 2px 18px 0px lightgray;
    width: 80%;
}

.image-td{
    font-size: 25rem;
    background-size: cover;
    height: 3rem;
    width: 3rem;
    margin:0;
}
label-td{
    line-height: 20rem;
}
.pagination-list{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}
ul{
    position: center;
}
.pagination-color{
    background-color: darkgray;
}



.principal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: auto;
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    border-top: 0px solid #333333;

}
/*footer*/
.footer-main-div{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    background: black;
    padding: 20px 0px;
}
.footer-social-icons{
    width: 100%;
    height:auto ;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    /*width: 50%;*/
    height: 50%;
    margin: 0px 20px;
    /*border-radius: 100%;*/
    /*background: darkgreen;*/
}
.footer-social-icons ul li a {
    color: darkgreen;
    font-size: 30px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 20px;
}
.footer-menu-one ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom{
    height: auto;
    width: 100%;
    background: darkred;
    margin: 0px 0px;
    padding: 10px;
}
.footer-bottom p{
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
a{
    text-decoration: none;
    outline: none;
}
