html{
    font-size: 10px;
}
body{
    position: relative;
    font-family: 'lato','sans-serif';
    background-color: #ECF0F1;
    margin: 0;
}

/*header les deux bar et le logo*/

/*logo*/
#logo{
    position: fixed;
    z-index: 40;
    width:100%;
    height: 6rem;
    background-color: black;
}
#logo img{
    /*position: fixed;*/
    width: 30%;
    height: 100%;
    padding-left: 30rem;
}
#logo a i{
    text-decoration: none;
    font-size: 3rem ;
    padding: 1rem 3rem;
    color: white;
}
/* navigation */
#navigation{
    position: fixed;
    top:6rem;
    z-index: 40;
    width:100%;
    background-color: darkgray;
    text-align: center;
    line-height: 8rem;
    height: 6rem;
    box-shadow: 0 0 0.5px 0 black;
}

#navigation a {
    text-decoration: none;
    font-size: 3rem ;
    /*padding: 1rem 2.5rem 0rem 0rem;*/
    line-height: 5rem;
    font-family: 'kaushan script';
    color: black;
}
.left{
    float: left;
    padding: 0.5rem 0rem 0rem 4rem;
}
.right{
    float: right;
    padding: 0.5rem 4rem 0rem 0rem;

}
#navigation a:active{
    font-size: 4rem;
}
#icon{
    display: none;
}
header #arrow{
    height: 10rem;
    width: 10rem;
    position: absolute;
    top:-3%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url("../img/ah_logo.png");
    background-position: top;
    background-size: cover;

}
.statistiqueSection {
    padding-top: 10rem;
}
.centreH{
    text-align: center;
    margin-bottom: 4rem;

}
.statTitre {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,darkred,black,darkgreen);
    -webkit-background-clip:text ;
    color: transparent;
    padding-top: 5rem;
    text-align: center;
}
.sousTitreStat{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.card-body{
    text-align: center;
    background-color: darkgray;
    overflow: hidden;
}
.card-header{
    height: 4rem;
}

.headCard h3{
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface';
    font-size: 2rem;
    padding-left: 35%;
    padding-right: 20%;

}
.bg-danger-1{
    background-color: darkred;
}
.bg-success-1{
    background-color: darkgreen;
}
.bg-dark-1{
    background-color: black;
}

/*section Nos Stars*/
#nosStars{
    height: 70rem;
    width: 100%;
    border-top: 1px dashed rgb(209,174,59);
    background:url("../img/mastadenoir.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 10rem;
}

.centre{
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    margin-top: -2.25rem;
}
.logo-slider .slick-initialized .slick-slider{
    position: relative;
    width: 100%;
    height: 700px;
}
.slick-track{
    position: relative;
    width: 100%;
    height: 700px;
}
.slick-list{
    position: relative;
    width: 100%;
    height: 700px;
}

img{
    height: 100%;
    width: 100%;
}
.slick-active{
    transform: scale(0.3);
    filter: grayscale(100%);
}
.slick-center{
    transform: scale(0.7);
    filter: grayscale(0%);

}
.slick-prev {
    position: absolute;
    z-index: 1;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    top: 600px;
    left: 641px;
    padding: 0;
    border: none;
    outline: none;
    transition: background-color 0.2s ease;
    border-radius: 2px;

}
.slick-next {
    position: absolute;
    z-index: 1;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    left:1200px;
    bottom: 48px;
    padding: 0;
    border: none;
    outline: none;
    transition: background-color 0.2s ease;
    border-radius: 2px;

}
/*footer*/
.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background: black;
    padding: 20px 0px;
}
.footer-social-icons{
    width: 100%;
    height:auto ;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    /*width: 50%;*/
    height: 50%;
    margin: 0px 20px;
    /*border-radius: 100%;*/
    /*background: darkgreen;*/
}
.footer-social-icons ul li a {
    color: darkgreen;
    font-size: 30px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 20px;
}
.footer-menu-one ul li a{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom{
    height: auto;
    width: 100%;
    background: darkred;
    margin: 0px 0px;
    padding: 10px;
}
.footer-bottom p{
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
a{
    text-decoration: none;
    outline: none;
}
