<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:decorator="layout"><head>

    <meta charset="UTF-8">
    <!-- police de caractére -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<!--    bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- icone-->
    <script src="https://kit.fontawesome.com/c7b443f9ff.js" crossorigin="anonymous"></script>
    <!--    Feuilles de style-->
    <link rel="stylesheet" href="css/joueurs.css">
    <!--title-->
    <title>Liste des joueurs</title>
</head>


<!--body-->
<body>
<!--header-->
<header>


<!--    la barre noire-->

    <nav id="logo" class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">

            <a href="https://www.facebook.com/inh.anas" target="_blank" class="liensNav"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com/inh.anas" target="_blank" class="liensNav"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/inhanas/?hl=fr" target="_blank" class="liensNav"><i
                    class="fab fa-instagram"></i></a>

        </div>
    </nav>
    <!--        barre de navigation-->
    <nav id="navigation">
        <a href="/" class="left">Accueil</a>
        <a href="/palmares" class="left">Palmarés</a>
        <a href="statistiques" class="left">Statistiques</a>
        <a href="/joueurs" class="left">Joueurs</a>
        <a href="#contact" class="right">Contact</a>
        <a href="#transferts" class="right">Transferts</a>
        <a href="/stars" class="right">Nos Stars</a>
        <a href="/managers" class="right">Entraineurs</a>
        <a href="#bar" id="icon"><i class="fas fa-bars"></i></a>
        <a href="#menu" id="arrow"></a>
    </nav>
</header>
<section id="listeJoueurs">
<!--titre de la section-->
    <div class="centreH">
        <h3 class="listeJoueursTitre">Liste des joueurs</h3>
    </div>
<!--la div chercher un joueur        -->
    <div class="principal-container">

        <form method="get" th:action="@{joueurs}">
            <div class="form-panel">
                <label class="label-style"> Nom du joueur : &nbsp</label>
                <input class="inputClasse" type="text" name="name" th:value="${name}"/>
                <button type="submit" class="button-chercher">Chercher</button>
            </div>
        </form>


        <table class="table is-striped is-bordered is-hoverable container">
            <thead>
            <tr>
                <th></th>
                <th>Nom</abbr></th>
                <th>Date de naissance</abbr></th>
                <th>taille</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l:${listJoueurs}">
                <td><img class="image-td" th:src="${l.image}"></td>
                <td><a th:href="@{'/profilJoueurs?name=' + ${l.nom}}" th:text="${l.nom}"></a></td>
                <td th:text="${l.dateDeNaissance}"></td>
                <td th:text="${l.taille}"></td>
            </tr>
        </table>
        <nav class="pagination is-centered " role="navigation" aria-label="pagination">

            <ul class="pagination-list container">
                <li th:each="page,status:${pages}">
                    <a  th:class="${status.index==currentPage?'pagination-color pagination-link':'pagination-link'}" th:text="${status.index}" th:href="@{joueurs(page=${status.index},name=${name})}"></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!--footer-->
<div class="footer-main-div">
    <div class="footer-social-icons">
        <ul>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i> </a> </li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i> </a> </li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i> </a> </li>
            <li><a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a> </li>
        </ul>
    </div>
    <div class="footer-menu-one">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/section-about">About us</a></li>
            <li><a href="/contact_us">Contact us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/produits">Products</a></li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <p>Copyright © 2021 Design by : ASFARHISTORY</p>
</div>
<!--</footer>-->

</body>
</html>
